<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "application" %>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
</head>

<h1>New Titles</h1>

<table id="titles" data-source="<%= sample_view_url(format: "json") %>">
  <thead>
    <tr>
      <th>Received</th>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Call No.</th>
      <th>MMSID</th>
      <th>Institution</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

